<!doctype html>
<html lang="en" ng-app="SampleTreeApp">
<head>
    <meta charset="utf-8">
    <title>Sample Tree App</title>

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="js/tree.js"></script>
    <script src="js/module.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-controller="IndexController">

<form ng-submit="addNode()">
    Count of nodes: {{tree.list.length}}
    <button ng-click="addRandomNode()">Add Random Number</button>
    <input type="number" ng-model="number" placeholder="Type a number" />
    <input type="submit" id="submit" value="Add Number" />
</form>
<ul>
    <li>
        Root Node(0): {{root.number}}
    </li>

    <ng-include src="'html/nodeTemplate.html'"></ng-include>

</ul>

</body>
</html>
