    <span ng-if="root.left">
        Left({{root.left.depth}}): {{root.left.number}}
        <!--<span ng-include="'images/node.svg'" onload="number = root.left.number; depth = root.left.depth"> </span>-->
        <ng-include ng-if="root.left" src="'html/nodeTemplate.html'" onload="root = root.left"></ng-include>
    </span>
    <span ng-if="root.right">
        Right({{root.right.depth}}): {{root.right.number}}
        <ng-include ng-if="root.right" src="'html/nodeTemplate.html'" onload="root = root.right"></ng-include>
    </span>
