<!doctype html>
<html lang="en" ng-app="SampleTreeApp">
<head>
    <meta charset="utf-8">
    <title>Sample Tree App</title>

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script src="//localhost:35729/livereload.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/tree.js"></script>
    <script src="js/module.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-controller="IndexController">

<form ng-submit="addNode()">
    <input type="button" ng-click="addRandomNode()" class="btn btn-primary btn-sm" value="Add Random Number">
    <input type="number" class="number" ng-model="number" placeholder="Type a number" />
    <input type="submit" class="btn btn-primary btn-sm" id="submit" value="Add Number" />
</form>
Count of nodes: {{tree.list.length}}

<ng-include src="'html/nodeTemplate.html'" onload="node = tree.root"></ng-include>

</body>
</html>
